html, body {
    width: 120px;
  }

  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    cursor: pointer;
  }

  .button:hover {
    background-color: #CFF2F2;
  }

  .all {
    background-color: #E5F2F2;
  }

  .all:hover {
    background-color: #EAEA9D;
  }

  .work_location_checkbox {
    border-style: none none solid none;
  }
